<h2>Edit Student</h2>
<form action="/students/<%= student.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/students">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>