<h2>Edit Session</h2>
<form action="/sessions/<%= session.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/sessions">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>